# Scientific computing
numpy
pandas
scikit-learn

# Visualization
matplotlib
seaborn
plotly

# Already in your environment
beautifulsoup4
requests
html2text
readability-lxml

python-frontmatter

bertopic