# Scientific computing
numpy
pandas
scikit-learn

# Visualization
matplotlib
seaborn
plotly

# Already in your environment
beautifulsoup4
requests
html2text
readability-lxml

python-frontmatter

# BERTopic
bertopic
nbformat>=4.2.0
sentence_transformers
# umap
datamapplot

anthropic

# Google client libraries
google-api-python-client
google-auth-httplib2
google-auth-oauthlib